@font-face {
    font-family: "Starjedi";
    src: url('../portfolio_axel/assets/fonts/Starjedi.ttf') format("truetype");
}
@font-face {
    font-family: "Starjhol";
    src: url('../portfolio_axel/assets/fonts/Starjhol.ttf') format("truetype");
}
@font-face {
    font-family: "Starjout";
    src: url('../portfolio_axel/assets/fonts/Starjout.ttf') format("truetype");
}
@font-face {
    font-family: "Galaxy Outlined Italic";
    src: url('../portfolio_axel/assets/fonts/SF Distant Galaxy Outline Italic.ttf') format("truetype");
}
html, body {

    scroll-behavior: smooth;
    scrollbar-color: #e6cc08 black;
    scrollbar-width: thin;

    margin: 0;
    padding: 0;
    height: 100%;
}


:root {
    --primary-color: #f1c40f;
    --seconday-color: #373407;
    --third-color: white;
    --fourth-color: #b30707;
}

body {
    background-image: url('../portfolio_axel/assets/images/background.jpg');
    color: #ffffff;
    min-height: 100dvh;
    height: 100dvh;
    background-color: black;
}



/*                        STYLE OPENING                     */
#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    visibility: visible;
    opacity: 1;
    transition: opacity 1s ease, visibility 1s ease;
}


#loading.hidden {
    opacity: 0;
    visibility: hidden;
}

#intro-text {
    font-family: "Droid Sans", sans-serif;
    font-size: 3.4vw;
    color: #44eeee;
    text-align: center;
    opacity: 0;
    transition: opacity 1s ease;
}
#intro-text.visible {
    opacity: 1;
}

#intro-text.hidden {
    opacity: 0;
}
/*                        STYLE HEADER                        */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 40px;
    padding: 1em;
}
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    align-items: center;
}

nav ul li {
    margin: 0 2em;
    font-size: 1.1em;
    font-family: "Galaxy Outlined Italic", sans-serif;
    color: white;
    filter: brightness(200%);
}
.menu a {
    cursor: pointer;
    text-decoration: none;
    color: inherit ;
}

.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 4em;
    height: 4em;
    margin-right: 25em;
    margin-left: 4em;
    z-index: 1000;
}
/*                        DARK MODE / LIGHT MODE                     */













/*                        STYLE MAIN/CONTENT                      */

main {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
}

/*                        STYLE TITLE                      */

.title {
    position: relative;
    width: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 12em;
}


.title img {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    width: 20%;
    height: auto;

}

.title h1 {
    font-size: 6em;
    color: var(--primary-color);
    font-family: "Galaxy Outlined Italic", sans-serif;
    white-space: nowrap;
    margin: 0;
    margin-top: 1.5em;
    filter: brightness(150%);

}

.title h2 {
    font-size: 3em;
    color: var(--primary-color);
    font-family: "Starjhol", sans-serif;
    white-space: nowrap;
    margin: 0;
    filter: brightness(150%);
}

.title button {
    background-color: transparent;
    color: white;
    font-weight: bold;
    filter: brightness(150%);
    font-family: 'Galaxy Outlined Italic', sans-serif;
    font-size: 1.3em;
    padding: 1em;
    border: 3px solid white;
    border-radius: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 4em;
    justify-content: center;
    align-items: center;
    animation: neonAnimation 3s linear infinite;
}

@keyframes neonAnimation {
    0% {
        box-shadow: 0 0 5px 3px #ffffff, 0 0 10px 5px #ffffff, 0 0 15px 7px #ffffff;
    }
    25% {
        box-shadow: 0 0 5px 3px #000000, 0 0 10px 5px #000000, 0 0 15px 7px #000000;
    }
    50% {
        box-shadow: 0 0 5px 3px #ffffff, 0 0 10px 5px #ffffff, 0 0 15px 7px #ffffff;
    }
    75% {
        box-shadow: 0 0 5px 3px #000000, 0 0 10px 5px #000000, 0 0 15px 7px #000000;
    }
    100% {
        box-shadow: 0 0 5px 3px #ffffff, 0 0 10px 5px #ffffff, 0 0 15px 7px #ffffff;
    }
}

@keyframes neonAnimationHover {
    0% {
        box-shadow: 0 0 5px 3px #e6cc08, 0 0 10px 5px #e6cc08, 0 0 15px 7px #e6cc08;
    }
    25% {
        box-shadow: 0 0 5px 3px #000000, 0 0 10px 5px #000000, 0 0 15px 7px #000000;
    }
    50% {
        box-shadow: 0 0 5px 3px #e6cc08, 0 0 10px 5px #e6cc08, 0 0 15px 7px #e6cc08;
    }
    75% {
        box-shadow: 0 0 5px 3px #000000, 0 0 10px 5px #000000, 0 0 15px 7px #000000;
    }
    100% {
        box-shadow: 0 0 5px 3px #e6cc08, 0 0 10px 5px #e6cc08, 0 0 15px 7px #e6cc08;
    }
}

.title button:hover {
    background-color: transparent;
    color: var(--primary-color);
    border-color: var(--primary-color);
    transform: scale(1.1);
    animation: neonAnimationHover 3s linear infinite;


}



/*                        STYLE PROFILE                      */

.presentation {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 45em;
    min-height: 60vh;
    margin-left : 20em;
    margin-right: 20em;

}
.presentation-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.presentation h2 {
    font-size: 3em;
    color: var(--primary-color);
    font-family: "Galaxy Outlined Italic", sans-serif;
    white-space: nowrap;
    margin: 0;
    filter: brightness(150%);
    border: 3px solid var(--primary-color);
    border-radius: 15px;
    padding: 0.5em;
}

/*                        ABOUT ME                    */


.about-me {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 2em;
}

.about-me h3 {
    font-size: 1.3em;
}
.about-me p {
    font-size : 0.9em;
    line-height: 1.5em;
}

.about-me-1-2, .about-me-2-2 {
    width: 48%;
}

.about-me-1-2 {
    margin-right: 2%;
    font-family: "Arial", sans-serif;
    font-size: 1.5em;
    text-align: left;
    padding: 0.8em;
    gap: 20px;
}

.about-me-2-2 {
    font-family: "Arial", sans-serif;
    font-size: 1.5em;
    text-align: left;
    padding: 0.8em;
}


.about-me-2-2 .collaborate{
    text-align: center;
}

span {
    font-weight: bold;
    color: var(--primary-color);
    filter: brightness(150%);
}


/*                        HOLOCRON COMPETENCES                     */

.holocron-container {
    position: relative;
    width: 50%;
    height: 50vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.holocron {
    position: absolute;
    width: 8vw;
    height: 8vw;
    background-image: url('../portfolio_axel/assets/images/holocron.png');
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

.holocron:hover {
    opacity: 1.5;
    transform: scale(1.2);
}


.holocron-content {
    color: white;
    font-family: 'Arial', sans-serif;
    text-align: center;
    display: none;
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateX(-10px) translateY(-50%);
    width: 200px;
    background-color: #000;
    border-radius: 15px;
    border: 3px solid #f1c40f;
    box-shadow: 0px 0px 15px #f1c40f;
    font-size: 0.8em;
    letter-spacing: 1.5px;
    transform-origin: center center;
    transition: transform 0.3s ease;
    padding: 2em;
}
.holocron:hover .holocron-content {
    display: block;
    transform: translateX(-10px) translateY(-50%) scale(1.05);
}
.holocron:hover {
    z-index: 1000;
}

.holocron h3 {
    font-size: 1.2em;
    font-family: 'Galaxy Outlined Italic', sans-serif;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px #f1c40f;
    text-align: center;
}

.holocron p {
    font-size: 1.2em;
    letter-spacing: 0.5px;
    filter: brightness(150%);
    font-family: 'Galaxy Outlined Italic', sans-serif;
    color : var(--primary-color);
}

#holocron1 {
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}

#holocron2 {
    top: 50%;
    left: 5%;
    transform: translateX(-50%);
}

#holocron3 {
    top: 50%;
    right: 5%;
    transform: translateX(50%);
}


/*                        MES PROJETS                   */

.projects {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 80em;
    min-height: 60vh;
    margin-left : 20em;
    margin-right: 20em;

}
.projects-box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.projects h2 {
    font-size: 3em;
    color: var(--primary-color);
    font-family: "Galaxy Outlined Italic", sans-serif;
    white-space: nowrap;
    margin: 0;
    filter: brightness(150%);
    border: 3px solid var(--primary-color);
    border-radius: 15px;
    padding: 0.5em;
}

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    margin-top: 8rem;
}

.project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    height: auto;
    object-fit: cover;
    margin: 0 15% 5rem 15%;

}
.project-item.reverse {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 5em;
    object-fit: cover;
    margin: 0 20% 5rem 20%;
}
.project-image {
    width: 600px;
    height: auto;
    border-radius: 0.625rem;
    transition: all 0.3s ease-in-out;

}

.project-image:hover {
    transform: scale(1.1);
}
.project-info {
    padding: 1.25rem;
    flex-grow: 1;
    max-width: none;
    margin-top: 3em;
}

.project-info h3 {
    font-size: 2.5em;
    color: var(--primary-color);
    font-family: "Galaxy Outlined Italic", sans-serif;
    white-space: nowrap;
    margin: 0;
    filter: brightness(150%);
    padding: 0.5em;
}

.project-info p {
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: left;
    color: #b6b6b3;
    font-family: "Arial" , sans-serif;
}

.project-button {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.technology-images {
    display: flex;
}

.technology-image {
    width: 3em;
    height: 3em;
    align-self: center;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.technology-image:hover {
    transform: translateY(-5px) scale(1.1);
}

.button-image {
    width: 2em;
    height: 2em;
    transition: transform 0.3s ease-in-out;
}
.button-image:hover {
    transform: translateY(-5px) scale(1.1);
}


#js-image {
    width: 2.5em;
    height: 2.5em;
    align-self: flex-start;
    padding-top: 1em;
}

#sql-image {
    width: 5em;
    height: 5em;
}

#php-image {
    width: 4em;
    height: 4em;
    object-fit: contain;
}



#java-image {
    width: 4em;
    height: 4em;
}


/*                            CONTACT                       */

.contact-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 100em;
    min-height: 60vh;


}

.contact-section h2 {
    font-size: 3em;
    color: var(--primary-color);
    font-family: "Galaxy Outlined Italic", sans-serif;
    white-space: nowrap;
    filter: brightness(150%);
    border: 3px solid var(--primary-color);
    border-radius: 15px;
    padding: 0.5em;
}

.contact-info {
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;

    align-self: center;
}

.contact-info .image-container {
    text-align: center;
}

.contact-info .image-container img {
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.contact-info .image-container p {
    font-size: 1.5em;
    line-height: 1.5em;
    font-family: "Blorado", sans-serif;
}

.contact-info .image-container a {
    text-decoration: none;
    color: white;
    transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out;

}
.contact-info .image-container a:hover {
    filter: brightness(150%);
    transform: translateY(-5px);
}
.contact-info .mail:hover {
    color: var(--primary-color);
}
.contact-info span {
    font-family: "Galaxy Outlined Italic", sans-serif;
}

.contact-info .image-below {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    margin-bottom: 1em;
}

.contact-info .image-below img {
    width: 5em;
    object-fit: contain;
}

.contact-info .image-container button {
    background-color: transparent;
    color: var(--primary-color);
    font-weight: bold;
    filter: brightness(150%);
    font-family: 'Galaxy Outlined Italic', sans-serif;
    font-size: 1.5em;
    padding: 1em;
    border: 3px solid var(--primary-color);
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    top: 4em;
    justify-content: center;
    align-items: center;
}

.contact-info .image-container button:hover {
    background-color: #6c600a;
    color: #111;
    transform: scale(1.1);
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);
}

/*                  SCROLL TO TOP BUTTON                */

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--primary-color);
    color: black;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    z-index: 10000;
}
.back-to-top:hover {
    background-color: #8a7009;
}
.back-to-top:active {
    transform: scale(0.95);
}





/*                        FOOTER                            */

.starwars-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1em 2em;
    font-family: 'Starjedi', sans-serif;
    position: relative;
    top: 100em;
    bottom: 0;
    width: 80%;
    margin: 10em auto;
    border-top: 3px solid #f1c40f;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    filter: brightness(150%);
}

.footer-left p {
    font-size: 1em;
    font-weight: 400;
}

.footer-right {
    display: flex;
    gap: 1.5em;
}

.social-icon {
    color: #ffffff;
    font-size: 1.8em;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icon:hover {
    transition: transform 0.3s ease-in-out;
    transform: translateY(-5px) scale(1.1);
}

.fab {
    font-size: 1.5em;
}





/*                        MEDIA QUERIES                     */

@media (max-width: 1260px) {


    /* HEADER & NAVIGATION */
    header {
        padding: 0.5em 0;
    }
    nav ul li {
        margin: 0 1em;
        font-size: 1.2em;
    }
    .logo img {
        width: 4em;
        height: 4em;
        margin: 0 1em;
    }

    /* SECTION TITLE */

    .title h1 {
        font-size: 4em;
    }
    .title h2 {
        font-size: 2em;
    }
    .title img {
        width: 20em;
        top: 30%;
    }
    .title button {
        font-size: 1.2em;
        padding: 0.8em;
    }

    /* SECTION PRÉSENTATION */
    .presentation {
        top: 30vh;
        margin: 0 2em;
    }
    .presentation h2 {
        font-size: 2em;
    }

    /* SECTION ABOUT ME */
    .about-me {
        flex-direction: column;
        align-items: center;
    }
    .about-me-1-2,
    .about-me-2-2 {
        width: 90%;
        margin: 1em 0;
    }
    .about-me h3 {
        font-size: 1.2em;
    }
    .about-me p {
        font-size: 0.9em;
    }

    .collaborate {
        margin-top: 8em;
    }

    /* HOLOCRON COMPÉTENCES */
    .holocron-container {
        width: 90%;
        margin: 2em auto;
        height: auto;
    }
    .holocron {
        width: 12vw;
        height: 12vw;

    }
    .holocron-content {
        width: 150px;
        font-size: 0.9em;
    }

    .holocron.align-right .holocron-content {
        left: auto;
        right: -160px;
    }

    /* SECTION PROJETS */
    .projects {
        top: 30vh;
        margin: 1em 2em;
    }
    .projects h2 {
        font-size: 2.5em;
    }
    .projects-container {
        gap: 2em;
        margin-top: 2em;
    }
    .project-image {
        width: 100%;
        max-width: 500px;
    }

    .project-info {
        width: 70%;
        height: 70%;
    }
    .project-info h3 {
        font-size: 2em;
    }
    .project-info p {
        font-size: 1.2em;
    }

    .project-item {
        flex-direction: row;
        gap: 2em;
        height: auto;
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .project-item.reverse {
        flex-direction: row-reverse;
        gap: 2em;
        height: auto;
        align-items: center;
        justify-content: center;
        margin: 0;
    }


    .project-item.reverse img {
        object-fit: contain;
    }

    .project-button img .button-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    /* SECTION CONTACT */
    .contact-section {
        top: 30vh;
        margin: 1em 2em;
    }
    .contact-section h2 {
        font-size: 2.5em;
    }
    .contact-info {
        flex-direction: column;
        gap: 1.5em;
    }
    .contact-info .image-container img {
        max-width: 250px;
    }

    /* FOOTER */
    .starwars-footer {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
        padding: 1em;
        text-align: center;
        top: 15em;
    }
}

@media (max-width: 1070px) {

    .project-item {
        flex-direction: column;
        gap: 2em;
        margin-bottom: 5em;
    }

    .project-item.reverse {
        flex-direction: column;
        gap: 2em;
        margin-bottom: 5em;
    }

    .project-item img {
        max-width: 700px;
    }

    .project-item.reverse img {
        max-width: 700px;

    }

    .project-item .project-info {
        margin: 0;
        text-align: center;
        width: 100%;
        padding: 0;
    }

    .project-item.reverse .project-info {
        margin: 0;
        text-align: center;
        width: 100%;
        padding: 0;
    }

    .projects-container {
        margin-bottom: 10em;
    }


}

/* =================== Responsive Téléphones (max-width: 660px) =================== */
@media (max-width: 660px) {
    /* MENU DEROULANT */

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    nav ul {
        display: none;
        flex-direction: column;
        text-align: center;
        margin-top: 2em;
    }

    .logo {
        display: block;
    }

    .logo.active + .menu {
        display: flex;
        padding: 0;
    }

    /* HEADER & NAVIGATION */
    header {
        padding: 0.3em 0;
    }

    nav ul li {
        font-size: 1em;
        margin-bottom: 1em;

    }
    .logo img {
        width: 3em;
        height: 3em;
        margin: 0 0.5em;
    }

    /* SECTION TITLE */
    .title {
        margin-top: 12vh;
    }
    .title h1 {
        font-size: 3em;
    }
    .title h2 {
        font-size: 1.5em;
    }
    .title img {
        width: 15em;
        top: 30%;
    }
    .title button {
        font-size: 1em;
        padding: 0.6em;
    }

    /* CONTENT */
    .content {
        margin: 1em;
    }

    /* SECTION PRÉSENTATION */
    .presentation {
        top: 40vh;
        margin: 0 1em;
    }
    .presentation h2 {
        font-size: 1.5em;
    }

    /* SECTION ABOUT ME */
    .about-me-1-2,
    .about-me-2-2 {
        width: 100%;
        margin: 1em 0;
        padding: 0 3em 0 3em;
    }
    .about-me h3 {
        font-size: 0.9em;
    }
    .about-me p {
        font-size: 0.6em;
    }

    /* HOLOCRON COMPÉTENCES */
    .holocron-container {
        width: 60%;
        margin: 1em auto;
    }
    .holocron {
        width: 15vw;
        height: 15vw;
    }
    .holocron-content {
        width: 120px;
        font-size: 0.8em;

    }

    /* SECTION PROJETS */
    .projects {
        top: 60vh;
    }
    .projects h2 {
        font-size: 1.5em;
        margin: 2.5em;
    }
    .projects-container {
        gap: 1em;
        margin-top: 1em;
    }
    .project-item {
        flex-direction: column;
        gap: 1em;
        margin: 0;
        padding-bottom: 5em;
    }

    .project-item.reverse {
        flex-direction: column;
        gap: 1em;
        margin: 0;
        padding-bottom: 5em;

    }
    .project-image {
        width: 100%;
    }
    .project-info h3 {
        font-size: 1.8em;
    }
    .project-info p {
        font-size: 1em;
    }

    /* SECTION CONTACT */
    .contact-section {
        top: 55vh;
        margin: 1em;
    }
    .contact-section h2 {
        font-size: 1.5em;
    }
    .contact-info {
        flex-direction: column;
        gap: 1em;
    }
    .contact-info .image-container img {
        max-width: 200px;
    }

    /* FOOTER */
    .starwars-footer {
        flex-direction: column;
        gap: 0.5em;
        padding: 0.5em;
        margin-top: 40vh;
    }

    .footer-left p {
        font-size: 1em;
        font-weight: 400;
    }

    .fab {
        font-size: 1.2em;
    }
}

@media (max-width: 500px) {



    /* SECTION TITLE */
    .title {
        margin-top: 15vh;
    }
    .title h1 {
        font-size: 2em;
    }
    .title h2 {
        font-size: 0.8em;
    }
    .title button {
        font-size: 0.8em;
        padding: 0.6em;
    }


    /* PROFILE */

    .presentation h2 {
        font-size: 1.2em;
    }


    /* SECTION ABOUT ME */

    .about-me {
        width: 70%;
    }

    .about-me h3 {
        font-size: 0.7em;
    }
    .about-me p {
        font-size: 0.5em;
    }

    /* HOLOCRON COMPÉTENCES */
    .holocron-content {
        width: 120px;
        font-size: 0.8em;

    }
    .collaborate {
        padding: 3em;
    }

    /* PROJETS */

    .project-image {
        width: 100%;
    }

    .projects h2 {
        font-size: 1.2em;
    }

    .project-info h3 {
        font-size: 1em;
    }

    /* SECTION CONTACT */

    .contact-section h2 {
        font-size: 1.2em;
    }
    .contact-info {
        flex-direction: column;
        gap: 1em;
    }
    .contact-info .image-container img {
        max-width: 150px;
    }

    .contact-info .image-container p {
        font-size: 1.2em;
    }

    .contact-info .image-container button {
        font-size: 1em;
    }

    /* FOOTER */
    .starwars-footer {
        gap: 0;
        padding: 0;
    }

    .footer-left p {
        font-size: 0.9em;
        font-weight: 400;
    }

    .fab {
        font-size: 1em;
    }
}